[Unit]
Description=Auto WiFi connect at boot
After=network-pre.target
Before=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/wifi-connect.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
